*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.container{
    width: 70%;
    margin: auto;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

h2{
    font-size: 30px;
}

/* HEADER */

header a img{
    width: 110px;
    height: 40px;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.nav-bar{
    margin-top: 40px;
}

.nav-bar .list-item li{
    display: inline-block;
    color: gray;
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-bar .list-item li a{
    text-decoration: none;
    color: gray;
}

/* MAIN */

/* SECTION IMG */
.section-img{
    height: 400px;
    margin-top: 40px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.background-img{
     background-color: rgba( 0, 0, 0, 0.3);
     height: 100%;
     border-radius: 10px;
}

.section-img .background-img .testo-img{
    width: 50%;
    height: 180px;
    padding: 220px 0 0 40px;
    color: white;
}

.testo-img .titolo-img{
    font-size: 23px;
}

.testo-img .par-img{
    font-size: 14px;
}

/* SECTION CONTENT */

.container-content{
    margin-top: 30px;
    background-color: royalblue;
    padding-bottom: 20px;
}

.par-content{
    color: #e6e4e4;
    font-size: small;
}

.content-left{
    width: 20%;
    height: 370px;
    background-color: skyblue;
    margin-top: 20px;
    float: left;
}

.content-center{
    width: 56%;
    height: 370px;
    background-color: skyblue;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
}

.content-right{
    width: 20%;
    height: 370px;
    background-color: skyblue;
    margin-top: 20px;
    float: right;
}

/* FOOTER */

.intestazione-finale{
    height: 70px;
    background-color: purple;
    margin-top: 10px;
}

