*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.container{
    width: 70%;
    margin: auto;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

h2{
    font-size: 30px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

h5{
    color: gray;
    text-align: center;
}


.background-img{
    background-color: rgba( 0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px;
}

/* HEADER */

header a img{
    width: 110px;
    height: 40px;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.nav-bar{
    margin-top: 40px;
}

.nav-bar .list-item li{
    display: inline-block;
    color: gray;
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-bar .list-item li a{
    text-decoration: none;
    color: gray;
}

/* MAIN */

/* SECTION IMG */
.section-img{
    height: 400px;
    margin-top: 40px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


.section-img .background-img .testo-img{
    width: 50%;
    height: 180px;
    padding: 220px 0 0 40px;
    color: white;
}

.testo-img .titolo-img{
    font-size: 23px;
}

.testo-img .par-img{
    font-size: 14px;
}

/* SECTION CONTENT */

.container-content{
    margin-top: 30px;
    padding-bottom: 20px;
}

/* CONTENT HIGH */
.par-content{
    color: #8a8484;
    font-size: small;
}

/* CONTENT LEFT */
.content-left{
    width: 20%;
    margin-top: 20px;
    float: left;
}

.content-left .img-1{
    width: 100%;
    height: 160px;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    border-radius: 10px;
}

/* CONTENT CENTER */

.content-center{
    width: 56%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
}

.content-center .img-2{
    width: 100%;
    height: 160px;
    background-image: url(../img/img-2.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

/* CONTENT RIGHT */

.content-right{
    width: 20%;
    height: 370px;
    margin-top: 20px;
    float: right;
}

.content-right .img-3{
    width: 100%;
    height: 160px;
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

/* FOOTER */

.intestazione-finale{
    margin-top: 10px;
}

h5 .cuore{
    color: red;
}


